<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Listado de Agentes</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Tel&eacute;fono</th>
                      <th>Correo</th>
                      <th>Moneda</th>
                      <th>Activo</th>
                      <th class="col-xs-1">Acci&oacute;n</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @cobradores.each do |cobradore| %>
                      <tr>
                        <td> <%= cobradore.id %> </td>
                        <td> <%= cobradore.nombre %> </td>
                        <td> <%= cobradore.apellido %> </td>
                        <td> <%= cobradore.telefono %> </td>
                        <td> <%= cobradore.correo %> </td>
                        <td> <%= cobradore.moneda %> </td>
                        <td> <%= cobradore.activo ? "SI":"NO" %> </td>
                        <td>
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_cobradore_url(cobradore), class: 'btn btn-sm btn-warning' %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'Nuevo Agente', new_cobradore_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
