<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Listado de Cuentas</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Banco</th>
                      <th>Numero</th>
                      <th>Tipo</th>
                      <th>Moneda</th>
                      <th>Estado</th>
                      <th>Accion</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @cuentas_bancas.each do |cuentas_banca| %>
                      <tr>
                        <td> <%= cuentas_banca.nombre_banco %> </td>
                        <td> <%= cuentas_banca.numero_cuenta %> </td>
                        <td> <%= set_tipo(cuentas_banca.tipo_cuenta) %> </td>
                        <td> <%= cuentas_banca.moneda_banco %> </td>
                        <td> <%= cuentas_banca.activa ? 'Activa' : 'Inactiva' %> </td>
                        <td>
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_cuentas_banca_url(cuentas_banca), class: 'btn btn-sm btn-warning' %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'Nueva Cuenta', new_cuentas_banca_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
