<%= javascript_include_tag "axios.js" %>
<%= javascript_include_tag "swalert.js" %>

<script>


function crear_caballos(id){
  $('#caballos_div').html("");
  if (Number(id) > 0){
    axios({
        method: 'POST',
          url: '/unica/propuestas_caballos/crear_caballos',
        data: {
          "id": id
        },
      })
      .then(function(response) {
        $('#caballos_div').html(response.data);
      }

    )
    .catch(function (error) {
        swal("Lo siento", "Ocurrio un error.", "error");
    });
  }
}



function grabar(){
  if (Number($('#monto').val()) == 0){
          Swal.close();
      swal({
        title: "Error",
        text: "Debe ingresar monto.",
        icon: "error",
        button: "Aceptar",
      });
    return;
  }

  swal({
    title: "Se generaran propuestas.",
    text: "Esta seguro que desea continuar?",
    icon: "warning",
      dangerMode: true,
    buttons: {
    confirm: "Cancelar",
      cancel: "Aceptar",
      },
  })
  .then((willDelete) => {
    if (willDelete) {
    } else {
      grabar2();
    }
  });
}

function grabar2(){
  datos = [];
  datos_propuesta = [];
  datos_usuarios = { locals: [] , jel: [] }
  tmp_ml = 0 ;
  $( "input[id*='ml_']" ).each(function() {
    if (Number(this.value) > 0){
      datos.push({"id": this.id.substring(3),"ml": this.value });
      tmp_ml +=  Number(this.value);
    }
  });

  $( "input[id*='user_id_']" ).each(function() {
      datos_usuarios.locals.push({ "id": this.id.split('user_id_')[1],"checked": this.checked } );
  });

$( "input[id*='user_id2_']" ).each(function() {
      datos_usuarios.jel.push({ "id": this.id.split('user_id2_')[1],"checked": this.checked } );
  });


  if (Number($('#hipodromos').val()) > 0 ){
      titulo = 'Verifique los datos antes de procesar.' ;
      swal({
        title: titulo ,
        text: "Esta seguro que todos los datos son correctos?",
        icon: "warning",
        allowOutsideClick: false,
        allowEscapeKey: false,
        closeOnClickOutside: false,
         dangerMode: true,
        buttons: {
        confirm: "Cancelar",
         cancel: "Aceptar",
         },
      })
      .then((willDelete) => {
        if (willDelete) {
        } else {
            swalert_espera("Espere, procesando propuestas...")
            axios({
                method: 'POST',
                  url: '/unica/propuestas_caballos/crear_propuestas',
                data: {
                  "id": $('#hipodromos').val(),
                  "caballos": datos,
                  "monto": $('#monto').val(),
                  "users": datos_usuarios
                },
              })
              .then(function(response) {
                  Swal.close();
                  swal("Completo", "Propuestas Procesadas.", "success").then((aceptar) => {});
              }

            )
            .catch(function (error) {
                Swal.close();
                swal("Lo siento", "Ocurrio un error. Verifique todos los datos", "error");
            });
        }
      });

  }else{
      Swal.close();
      swal({
        title: "Lo siento",
        text: "Faltan datos!",
        icon: "error",
        button: "Aceptar",
      });
  }


}


</script>

<form>
<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title">Generar Propuestas Caballos</h3>
      </div>
      <div class="form-group">
        <div class="box-body">



          <div class="form-group" style="width: 60%">
            <label for="hipodromo_tipo">Usuarios</label><br>
            <%@users_local.each_with_index do |user, index|%>
              <div class="row" style="margin-left: 10px">
                <p>
                  <%= check_box("user", "id_#{index}", { checked: user[3] }, true, false)%> <%= user[0].split('@').first%>
                </p>
              </div>
            <%end%>
            <%@users_jel.each_with_index do |user_jel, index|%>
              <div class="row" style="margin-left: 10px">
                <p>
                  <%= check_box("user", "id2_#{index}", { checked: user_jel[3], valor: index }, true, false)%> <%= user_jel[0].split('@').first%> (JEL)
                </p>
              </div>
            <%end%>
          </div>

          <div class="form-group" style="width: 60%">
            <label for="hipodromo_tipo">Hipodromo</label><br>
            <select size=20 class="form-control" placeholder="Tipo"  name="hipodromos" id="hipodromos" onchange="crear_caballos(this.value);">
            <option value="0" >Seleccione </option>
            <%for carrera in @carreras.sort_by {|a| a[:hora_carrera]}%>
                <option value="<%= carrera[:carrera_id]%>" > <%= carrera[:nombre_hipodromo]%> -> Carrera <%= carrera[:numero_carrera]%> - <%= carrera[:hora_carrera][0..4]%> </option>
            <%end%>
            </select>
          </div>
          <div class="form-group">
            <label for="monto">Monto</label><br>
            <input type="number" value="0" id="monto" name="monto">
          </div>

        <div class="form-group">
           <div id='caballos_div'>
           </div>
        </div>

        <div id="caballos"  style= 'margin-left: 10px;' class="pull-right">
        </div>


      </div>

      <div class="box-footer">
           <input type="button" value="Generar Propuestas" class="btn btn-success" onclick="grabar()"/>
      </div>

    </div>
  </div>
</div>
</form>
