<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Listado</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Grupo</th>
                      <th>Jugado</th>
                      <th>Premiado</th>
                      <th>Comisi&oacute;n</th>
                      <th>Jugado</th>
                      <th>Premiado</th>
                      <th>Comisi&oacute;n</th>
                    </tr>
                  </thead>

                  <tbody>
                    <%total1 = 0%>
                    <%total2 = 0%>
                    <%total4 = 0%>
                    <%total5 = 0%>
                    <%total6 = 0%>
                    <%total8 = 0%>
                    <% @reporte.each do |repo| %>
                      <tr>
                        <td> <%= repo['nombre']%> </td>
                        <td> <%= number_with_precision( repo['jugado_usd'] , precision: 2, separator: '.', delimiter: ',')%> </td>
                        <td> <%= number_with_precision(repo['ganado_usd'], precision: 2, separator: '.', delimiter: ',') %> </td>
                        <td> <%= number_with_precision( repo['comision_bg_usd'].to_f , precision: 2, separator: '.', delimiter: ',') %> </td>
                       </tr>
                       <%total5 += repo['jugado_usd'].to_f%>
                       <%total6 += repo['ganado_usd'].to_f%>
                       <%total8 += (repo['comision_bg_usd'].to_f%>
                    <% end %>
                  </tbody>
                  <tfoot style="background-color: #A4A4A4;">
                    <tr>
                      <td> Totales </td>
                      <td> <%= total5%> </td>
                      <td> <%= total6%> </td>
                      <td> <%= total8%> </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
