<%= javascript_include_tag "axios.js" %>
<script>





function consultar_caballos(){
  swalert_espera("Espere, generando reporte...")
  axios({
    method: 'POST',
    url: '/reportes/cuadre_general_por_grupo_caballos',
    data: {
           "desde": $('#desde').val(),
           "hasta": $('#hasta').val(),
           "tipo": $("#tipo_reporte").val()
          },
  })
  .then(function(response) {
       $('#cuerpo_div').html(response.data);
       Swal.close();
    }

)
.catch(function (error) {
    Swal.close();
    swal("Lo siento", "No hay datos.", "error");
});

}





</script>

<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Cuadre General</h3>
        </div>
        <div class="form-group">
          <div class="container" style="width: 100%;">
            <div class="row">
              <div class="col-md-2">
                <div class="box">
                  <div class="form-group">
                    <label for="desde_fecha">Desde</label>
                    <input type="date" class="form-control" id="desde" name="desde" required="true" value="<%= Time.now.strftime('%Y/%m/%d') %>">
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="box">
                  <div class="form-group">
                    <label for="hasta_fecha">Hasta</label>
                    <input type="date" class="form-control" id="hasta" name="hasta" required="true" value="<%= Time.now.strftime('%Y/%m/%d') %>">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <div class="form-group">
                    <label for="hasta_fecha">Tipo</label>
                    <select class="form-control" size=1 id="tipo_reporte"> 
                      <option value="0">General</option>
                      <option value="1">Caballos</option>
                      <option value="2">Deportes</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-footer" style="margin-top: 45px">
                <input type="button" value="Aceptar" class="btn btn-success" onclick="consultar_caballos()">
              </div>
              <div class="form-group">
                <div id='cuerpo_div'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  window.boton_check() ;
  $('#desde').val("<%= Time.now.strftime('%Y-%m-%d')%>");
  $('#hasta').val("<%= Time.now.strftime('%Y-%m-%d')%>");
</script>
