
<html>
<head>
  <title></title>
  <%=wicked_pdf_stylesheet_link_tag  'bootstrap.css'%>
</head>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Reporte Cuadre General <%=@nombre_reporte_titulo%></h3>
      </div>
      <div class="box-body">
        <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <H4>Desde: <%=@desde%> / Hasta: <%=@hasta%></H4>
          <H4>General</H4>
          <div class="row">
            <div class="col-sm-12">
              <table id="user_index" class="table table-bordered table-striped dataTable" role="grid" style="width: 100%;">
                <thead>
                  <tr>
                    <th style="text-align: left">Nombre</th>
                    <th  style="text-align: right;">Cruzado</th>
                    <th  style="text-align: right;">Premio</th>
                    <th  style="text-align: right;">Comisi&oacute;n</th>
                    <th  style="text-align: right;">Comisi&oacute;n Banca</th>
                    <th  style="text-align: right;">Monto a Pagar</th>
                    <th  style="text-align: right;">Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <%total1 = 0%>
                  <%total2 = 0%>
                  <%total3 = 0%>
                  <%total4 = 0%>
                  <%total5 = 0%>
                  <%total6 = 0%>
                  <%total7 = 0%>
                  <%total8 = 0%>
                  <%total9 = 0%>
                  <%total10 = 0%>
                  <% @reporte.each do |repo| %>
                    <tr>
                      <td> <%= repo['nombre'] %> </td>
                      <td style="text-align: right;"> <%= number_with_precision( repo['venta'] , precision: 2, separator: '.', delimiter: ',')%> </td>
                      <td style="text-align: right;"> <%= number_with_precision(repo['premio'] + repo['gano_oc'], precision: 2, separator: '.', delimiter: ',') %> </td>
                      <td style="text-align: right;"> <%= number_with_precision( repo['comision'].to_f + repo['comision_oc'].to_f , precision: 2, separator: '.', delimiter: ',') %> </td>
                      <td style="text-align: right;"> <%= number_with_precision( ((repo['comision'].to_f  + repo['comision_oc'].to_f )* repo['comision_banca'].to_f) / 100 , precision: 2, separator: '.', delimiter: ',') %>  </td>
                      <td style="text-align: right;"> <%= number_with_precision( repo['monto_otro_grupo'].to_f , precision: 2, separator: '.', delimiter: ',') %> </td>
                      <td style="text-align: right;"> <%= number_with_precision( repo['monto_otro_grupo'].to_f - (((repo['comision'].to_f + repo['comision_oc'].to_f) * repo['comision_banca'].to_f) / 100), precision: 2, separator: '.', delimiter: ',') %> </td>
                    </tr>
                    <%total1 += repo['venta'].to_f%>
                    <%total2 += repo['premio'].to_f  + repo['gano_oc'].to_f %>
                    <%total3 += repo['comision'].to_f + repo['comision_oc'].to_f%>
                    <%total4 += ((repo['comision'].to_f + repo['comision_oc'].to_f)  * repo['comision_banca'].to_f) / 100%>
                    <%total5 += repo['monto_otro_grupo'].to_f%>
                    <%total6 += repo['monto_otro_grupo'].to_f - (((repo['comision'].to_f + repo['comision_oc'].to_f ) * repo['comision_banca'].to_f) / 100) %>
                  <% end %>
                </tbody>
                <tfoot style="background-color: #A4A4A4;">
                  <tr>
                    <td style="font-weight: bold;"> Totales </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total1 , precision: 2, separator: '.', delimiter: ',')%> </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total2 , precision: 2, separator: '.', delimiter: ',')%> </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total3 , precision: 2, separator: '.', delimiter: ',')%> </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total4 , precision: 2, separator: '.', delimiter: ',')%> </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total5 , precision: 2, separator: '.', delimiter: ',')%> </td>
                    <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total6 , precision: 2, separator: '.', delimiter: ',')%> </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          
          <div >
            <div class="card card-body">
              <div class="box-body">
                <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <H4>Mismo Agente</H4>
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="user_index" class="table table-bordered table-striped dataTable" role="grid" style="width: 100%;">
                        <thead>
                          <tr>
                            <th style="text-align: left">Nombre</th>
                            <th  style="text-align: right;">Premio</th>
                            <th  style="text-align: right;">Comisi&oacute;n</th>
                            <th  style="text-align: right;">Comisi&oacute;n Banca</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%total1 = 0%>
                          <%total2 = 0%>
                          <%total3 = 0%>
                          <%total4 = 0%>
                          <%total5 = 0%>
                          <%total6 = 0%>
                          <%total7 = 0%>
                          <%total8 = 0%>
                          <%total9 = 0%>
                          <%total10 = 0%>
                          <% @reporte.each do |repo| %>
                            <tr>
                              <td> <%= repo['nombre'] %> </td>
                              <td style="text-align: right;"> <%= number_with_precision(repo['premio'], precision: 2, separator: '.', delimiter: ',') %> </td>
                              <td style="text-align: right;"> <%= number_with_precision( repo['comision'].to_f , precision: 2, separator: '.', delimiter: ',') %> </td>
                              <td style="text-align: right;"> <%= number_with_precision( (repo['comision'].to_f  * repo['comision_banca'].to_f) / 100 , precision: 2, separator: '.', delimiter: ',') %>  </td>
                            </tr>
                            <%total2 += repo['premio'].to_f%>
                            <%total3 += repo['comision'].to_f%>
                            <%total4 += (repo['comision'].to_f  * repo['comision_banca'].to_f) / 100%>
                          <% end %>
                        </tbody>
                        <tfoot style="background-color: #A4A4A4;">
                          <tr>
                            <td style="font-weight: bold;"> Totales </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total2 , precision: 2, separator: '.', delimiter: ',')%> </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total3 , precision: 2, separator: '.', delimiter: ',')%> </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total4 , precision: 2, separator: '.', delimiter: ',')%> </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <div class="col-sm-12">
                    <H4>Otro Agente</H4>
                      <table id="user_index" class="table table-bordered table-striped dataTable" role="grid" style="width: 100%;">
                        <thead>
                          <tr>
                            <th style="text-align: left">Nombre</th>
                            <th  style="text-align: right;">Gano O/A</th>
                            <th  style="text-align: right;">Perdio O/A</th>
                            <th  style="text-align: right;">Comisi&oacute;n O/A</th>
                            <th  style="text-align: right;">Comisi&oacute;n Banca</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%total1 = 0%>
                          <%total2 = 0%>
                          <%total3 = 0%>
                          <%total4 = 0%>
                          <%total5 = 0%>
                          <%total6 = 0%>
                          <%total7 = 0%>
                          <%total8 = 0%>
                          <%total9 = 0%>
                          <%total10 = 0%>
                          <% @reporte.each do |repo| %>
                            <tr>
                              <td> <%= repo['nombre'] %> </td>
                              <td style="text-align: right;"> <%= number_with_precision(repo['gano_oc'], precision: 2, separator: '.', delimiter: ',') %> </td>
                              <td style="text-align: right;"> <%= number_with_precision(repo['perdio_oc'], precision: 2, separator: '.', delimiter: ',') %> </td>
                              <td style="text-align: right;"> <%= number_with_precision( repo['comision_oc'].to_f , precision: 2, separator: '.', delimiter: ',') %> </td>
                              <td style="text-align: right;"> <%= number_with_precision( ( repo['comision_oc'].to_f * repo['comision_banca'].to_f) / 100 , precision: 2, separator: '.', delimiter: ',') %>  </td>
                            </tr>
                            <%total2 += repo['gano_oc'].to_f%>
                            <%total3 += repo['premio'].to_f + repo['gano_oc'].to_f%>
                            <%total4 += repo['comision_oc'].to_f%>
                            <%total5 += (repo['comision_oc'].to_f * repo['comision_banca'].to_f) / 100%>
                          <% end %>
                        </tbody>
                        <tfoot style="background-color: #A4A4A4;">
                          <tr>
                            <td style="font-weight: bold;"> Totales </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total2 , precision: 2, separator: '.', delimiter: ',')%> </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total3 , precision: 2, separator: '.', delimiter: ',')%> </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total4 , precision: 2, separator: '.', delimiter: ',')%> </td>
                            <td style="text-align: right;font-weight: bold;"> <%= number_with_precision( total5 , precision: 2, separator: '.', delimiter: ',')%> </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


