<%= javascript_include_tag "axios.js" %>
<script>
function consultar(){
axios({
    method: 'POST',
      url: '/reportes/historial_tasas_grupo',
    data: {
           "moneda": $('#moneda').val(),
           "desde": $('#desde').val(),
           "hasta": $('#hasta').val()
          },
  })
  .then(function(response) {
       $('#cuerpo_div').html(response.data);
    }

)
.catch(function (error) {
    swal("Lo siento", "No hay datos.", "error");
});

}





</script>

<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Historial de Tasas por Grupo</h3>
        </div>
        <div class="form-group">
          <div class="form-group">  
            <div class="container" style="width: 100%;">
              <div class="row">
                <div class="col-md-2">
                  <div class="box">
                    <div class="form-group">
                      <label for="desde_fecha">Desde</label>
                      <input type="date"  class= "form-control"  id='desde' name='desde'  style= 'width: 150px;' required="true" value="<%= Time.now.strftime('%Y-%m-%d')%>">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box">
                    <div class="form-group">
                      <label for="hasta_fecha">Hasta</label>
                      <input type="date"  class= "form-control"  id ='hasta' name= 'hasta'  style= 'width: 150px;' required="true"  value="<%= Time.now.strftime('%Y-%m-%d')%>">
                    </div>
                  </div>
                </div>
                <div class="box-footer" style="margin: 0px; padding-left: 0px; padding-top: 0px">
                  <input type="button" value="Aceptar" class="btn btn-success" onclick="consultar()">
                </div>
                <div class="form-group">
                  <div id='cuerpo_div'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  window.boton_check() ;
  $('#desde').val("<%= Time.now.strftime('%Y-%m-%d')%>");
  $('#hasta').val("<%= Time.now.strftime('%Y-%m-%d')%>");
</script>