<%= javascript_include_tag "axios.js" %>
<script>




function filtrar_carrera(hid){
axios({
    method: 'POST',
      url: '/reportes/buscar_carreras_cerradas_fecha',
    data: {
          "desde": $('#desde').val(),
          "hipodromo_id": hid
          },
  })
  .then(function(response) {
      $('#cuerpo_carreras').html(response.data);
    }

)
.catch(function (error) {
    swal("Lo siento", "No hay datos.", "error");
});

}


function consultar_cajero(){
axios({
    method: 'POST',
      url: '/reportes/consultar_pase_cajero_externo',
    data: {
          "desde": $('#desde').val(),
          "carrera": $('#carreras').val(),
          "integrador": $('#integrador').val()
          },
  })
  .then(function(response) {
      $('#cuerpo_div').html(response.data);
    }

)
.catch(function (error) {
    swal("Lo siento", "No hay datos.", "error");
});

}




</script>

<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Reporte de Cajero externo</h3>
        </div>
        <div class="form-group">
          <div class="container" style="width: 100%;">
            <div class="row">
              <div class="col-md-2">
                <div class="box">
                  <div class="form-group">
                    <label for="desde_fecha">Fecha</label>
                    <input type="date"  class= "form-control"  id='desde' name='desde'  required="true" value="<%= Time.now.strftime('%Y/%m/%d')%>">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <div class="form-group">
                    <label for="hasta_fecha">Hipodromo</label>
                    <select class="form-control" size=1 id="hipodromos" onchange="filtrar_carrera(this.value)">
                      <option value="0">Seleccione Hipodromo</option>
                      <%for hipodromo in Hipodromo.all.order(:nombre)%>
                          <option value="<%=hipodromo.id%>"><%=hipodromo.nombre_largo%></option>
                      <%end%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="box">
                  <div class="form-group" id="cuerpo_carreras">
                    <label for="hasta_fecha">Carrera</label>
                    <select class="form-control" size=1 id="carreras">
                    </select>
                  </div>
                </div>
              </div>  
              <div class="col-md-3">
                <div class="box">
                  <div class="form-group">
                    <label for="integrador_fecha">Integrador</label>
                    <select class="form-control" size=1 id="integrador">
                      <option value="0">Seleccione Integrador</option>
                      <%for integrador in Integrador.all.order(:nombre)%>
                          <option value="<%=integrador.id%>"><%=integrador.nombre%></option>
                      <%end%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-footer" style="margin: 0px; padding-left: 0px; padding-top: 0px">
                  <input type="button" value="Aceptar" class="btn btn-success" onclick="consultar_cajero()">
              </div>
              <div class="form-group">
                <div id='cuerpo_div'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  window.boton_check() ;
  $('#desde').val("<%= Time.now.strftime('%Y-%m-%d')%>");
  $('#hasta').val("<%= Time.now.strftime('%Y-%m-%d')%>");
  $('#fecha').val("<%= Time.now.strftime('%Y-%m-%d')%>");
  $("#hipodromos").select2({
    matcher: select_con_busqueda
  });

</script>
