<label>Acreditar Saldo</label>
<div style="display: inline-flex;width: 100%;">
  <select name="deposit[metodo]" class="form-control" style="width: 12%;">
    <option value="POST" <%= datos_cajero['acreditar_saldo']['metodo'][/post/i].present? ? 'seleted' : ''%>>POST</option>
    <option value="GET" <%= datos_cajero['acreditar_saldo']['metodo'][/get/i].present? ? 'seleted' : ''%>>GET</option>
  </select>
  <input type="text", name="deposit[url]"  style="width: 80%;" class="form-control" value="<%= datos_cajero['acreditar_saldo']['url']%>" placeholder="Ingrese url del enpoint">
</div>
<label>Header</label>
<input type="text", name="deposit[parametros_header]" style="width: 92%;"class="form-control" value="<%= datos_cajero['acreditar_saldo']['parametros_header']%>">
<label>Body</label>
<input type="text", name="deposit[parametros_body]" style="width: 92%;"class="form-control" value="<%= datos_cajero['acreditar_saldo']['parametros_body']%>">
<label>Retorno</label>
<input type="text", name="deposit[retorno]" style="width: 92%;"class="form-control" value="<%= datos_cajero['acreditar_saldo']['retorno']%>">
