<div class="form-group">
  <label for="hipodromo_tipo">Proximas Carreras</label>
  <select size=10 class="form-control" placeholder="Tipo"  name="carreras2" id="carreras2" onchange="buscar_proxima();">
     <%for carr in @proximas%>
      <% hora_carrera = carr.hora_carrera[0,5] %>
      <% actual = Time.now.strftime('%H:%M') %>
      <% time_difference_in_sec = ((hora_carrera.to_time.to_i - Time.now.to_time.to_i).abs / 60).round() %>
      <option value="<%= carr.id%>" class="carrera_<%= carr.id %>" data-hip="<%= carr.jornada.hipodromo.id %>" data-jor="<%= carr.jornada.id %>" ><%= carr.numero_carrera%> (<%= carr.jornada.hipodromo.nombre_largo %>  <%= carr.hora_carrera[0,5] %> )  </option>
     <%end%>
  </select>
</div>


<script>

function set_hora_taquillas(minutos_resta){
     var carrera_id_bus = 0 ;

       $("#carreras2 > option").each(function() {
         encontrado = false;
         carr_id = this.value ;
         minutos_resta.forEach(function(element) {
            if (element.id == Number(carr_id )){
              encontrado = true;
            }
         });
         if (encontrado == false){
           $(this).remove();
         }
     });



     $('#carreras2').children('option').each(function () {
       nombre_sel = this ;
       texto = $("."+$(nombre_sel).attr("class")).text().split("-") ;
       text_nor = texto[0]
       id = $(nombre_sel).val() ;
       minutos_resta.forEach(function(element) {
          if (Number(id) == element.id){
             $("."+$(nombre_sel).attr("class")).text( text_nor + " - " + parseInt(element.resta) + " MTP")
             if (parseInt(element.resta) < 1 ){
               $("."+$(nombre_sel).attr("class")).text( text_nor + " - Cerrada")
             }
             if (parseInt(element.resta) < 5 ){
               $("."+$(nombre_sel).attr("class")).css("color", "red")
             }

          }

       })

     })

   }






set_hora_taquillas(JSON.parse('<%= "#{@mintos_restantes}".html_safe  %>' )) ;
</script>
