

<div class="form-group">
  <%= f.label 'Nombre' %>
  <%= f.text_field :nombre, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>

</div>


<div class="form-group">
  <%= f.label 'Representante' %>
  <%= f.text_field :representante, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<div class="form-group">
  <%= f.label 'Telefono' %>
  <%= f.text_field :telefono, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<div class="form-group">
  <%= f.label 'E-mail' %>
  <%= f.email_field :correo, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<div class="form-group">
  <%= f.label '% Banca' %>
  <%= f.number_field :porcentaje_banca, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<div class="form-group">
  <%= f.label '% Taquilla' %>
  <%= f.number_field :porcentaje_taquilla, class: "form-control", style: 'width: 50%' %>
</div>


<div class="form-group">
  <label for="grupo_id">Intermediario</label>
  <select size=1 class="form-control" placeholder="Grupo"  name="grupo[intermediario_id]" id="intermediario_grupo_id" style="width: 50%;"/>
    <%if session[:usuario_actual]['tipo'] == "ADM"%>
        <option value="0">Sin Intermediario</option>
        <%inter = Intermediario.all.order(:nombre)%>
      <%else%>
        <%inter = Intermediario.where(id: session[:usuario_actual]['intermediario_id']).order(:nombre)%>
      <%end%>
      <%for intermediario in inter%>
         <option value="<%= intermediario.id%>"><%= intermediario.nombre%></option>
      <%end%>
</select>
</div>

<div class="form-group">
  <%= f.label '% Intermediario' %>
  <%= f.number_field :porcentaje_intermediario, class: "form-control", style: 'width: 50%' %>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<div class="form-group">
  <%= f.label 'Activo' %>
  <%= f.check_box :activo, {}%>
</div>
