
<div class="form-group">
  <label for="hipodromo_tipo">Hipodromo</label>
  <select size=1 class="form-control" placeholder="Tipo"  name="jornada[hipodromo_id]" id="jornada_hipodromo_id" style = 'width: 40%'/>
  <%for hipodromo in @hipodromos%>
  <option value="<%= hipodromo.id %>"><%= hipodromo.nombre %></option>
  <%end%>

</select>
</div>



<div class="form-group">
  <%= f.label 'Fecha de jornada' %>
  <%fecha_fin = Time.now + 5.days%>
  <%= f.date_field :fecha, min: Time.now, max: fecha_fin,class: "form-control", style: 'width: 20%',  value: Time.now.strftime('%Y-%m-%d')%>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>


<div class="form-group">
  <%= f.label 'Cantidad de carreras' %>
  <%= f.text_field :cantidad_carreras, class: "form-control", placeholder: "Cantidad", required: true, id: 'cantidad_carreras', style: 'width: 20%'%>
  <span class="help-block"><i>* Este campo es requerido</i><span>
</div>

<%  if flash[:notice] %>
    <script>
    swal({title: "Lo siento", text: "Ya existe una jornada para la fecha ingresada !",icon: "error", button: "Aceptar"});
    </script>
<% end %>

<div id="caballos">
</div>
