<%= form_for @jornada, url: @url, role: :form, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Editar Jornada</h3>
        </div>

        <div class="box-body">
          <div class="form-group">
            <label for="hipodromo_tipo">Hipodromo</label>
            <select size=1 class="form-control" placeholder="Tipo"  name="carrera[hipodromo_id]" id="carrera_hipodromo_id" />
            <%for hipodromo in @hipodromos%>
            <option value="<%= hipodromo.id %>" <%= hipodromo.id == @hip_act ? "selected":""%>><%= hipodromo.nombre %></option>
            <%end%>

          </select>
          </div>


          <div class="form-group">
            <%= f.label 'Fecha de jornada' %>
            <%= f.date_field :fecha, min: Time.now, max: Time.now.end_of_year,class: "form-control", style: 'width: 20%' %>
            <span class="help-block"><i>* Este campo es requerido</i><span>
          </div>


          <div class="form-group">
            <%= f.label 'Cantidad de carreras' %>
            <%= f.text_field :cantidad_carreras, class: "form-control", placeholder: "Cantidad", required: true %>
            <span class="help-block"><i>* Este campo es requerido</i><span>
          </div>


        </div>

        <div class="box-footer">
          <%= link_to 'Cancelar', jornadas_path, class: 'btn btn-danger' %>
          <%= f.submit 'Enviar', class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
