
<script>
   function buscar(id){
      if (id == "ADM"){
         $('#grupo_select').hide();
         $('#intermediario_select').hide();
      }else if (id == "INT"){
         $('#grupo_select').hide();
         $('#intermediario_select').show();
      }{
         $('#grupo_select').show();
         $('#intermediario_select').hide();
      }

      $.ajax({
        type : "POST",
        url : '/usuarios/buscar_tipo',
        data : {
          id: "<%= @usuario.id%>",
          tipo: id
        },
        success : function(request) {
          $('#div_menu').html(request);
        },
        error : function(request) {
        }
      });



   }

</script>



<%= form_for @usuario, url: @url, role: :form, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Editando Usuario</h3>
        </div>


        <table border=0 style="width: 100%;">
          <tr>
            <td style="width: 50%;" valign="top">
                <div class="box-body">
                  <div class="form-group">
                    <%= f.label 'Nombre' %>
                    <%= f.text_field :username, class: "form-control", style: 'width: 90%'  %>
                  </div>


                  <div class="form-group">
                    <%= f.label 'Clave' %>
                    <%= f.text_field :password, class: "form-control", style: 'width: 90%' %>
                  </div>

                  <div class="form-group">
                    <label for="tpipo">Tipo</label>
                    <select size=1 class="form-control" name="user[tipo]" id="user_tipo" style="width: 90%;" onchange="buscar(this.value)" />
                      <option value="ADM" <%= @usuario.tipo == "ADM" ? "selected":""%>>Banca</option>
                      <option value="INT" <%= @usuario.tipo == "INT" ? "selected":""%>>Intermediario</option>
                      <option value="GRP" <%= @usuario.tipo == "GRP" ? "selected":""%>>Grupo</option>
                    </select>
                  </div>


                  <div id="grupo_select" class="form-group" style="display: none;">
                    <label for="grupo_id">Grupo</label>
                    <select size=1 class="form-control" placeholder="Grupo"  name="user[grupo_id]" id="user_grupo_id" style="width: 90%;"/>
                      <%for grupo in Grupo.all.order(:nombre)%>
                      <option value="<%= grupo.id %>" <%= grupo.id.to_i == @usuario.grupo_id.to_i ? "selected":""%>><%= grupo.nombre %></option>
                    <%end%>
                  </select>
                  </div>

                  <div id="intermediario_select" class="form-group" style="display: none;">
                    <label for="grupo_id">Intermediarios</label>
                    <select size=1 class="form-control" placeholder="Grupo"  name="user[intermediario_id]" id="user_intermediario_id" style="width: 90%;"/>
                      <%for inter in Intermediario.all.order(:nombre)%>
                      <option value="<%= inter.id %>" <%= inter.id.to_i == @usuario.intermediario_id.to_i ? "selected":""%>><%= inter.nombre %></option>
                    <%end%>
                  </select>
                  </div>


                  <div class="form-group">
                    <%= f.label 'Activo' %>
                    <%= f.check_box :activo, {}%>
                  </div>
              </div>
          </td>
          <td style="width: 50%;" valign="top">
            <div class="form-group"  id="div_menu">
                <label>MENU DE OPCIONES</label><br>
                  <% @menu_completo.each{|men,value|%>
                    <%if value['id']['tipo'].include?(@usuario.tipo) %>
                            <input type="checkbox" <%= value['id']['activo'] ? "checked":""%> id="p<%= value['id']['id']%>" name="usuarios_check_p<%= value['id']['id']%>" onclick="verificar_principal(this.id,this.checked);"> <span style="font-weight: bold;" ><%= men%> </span><br>
                          <%value['menu'].each{|men2|%>
                              <%if men2['tipo'].include?(@usuario.tipo) %>
                                  &nbsp;&nbsp; <input type="checkbox" class="subp<%= value['id']['id']%>"  <%= men2['activo'] ? "checked":""%> id="s<%= men2['id']%>" name="usuarios_check_s<%= men2['id']%>" onclick="verificar_sub('p<%= value['id']['id']%>',this.checked);"> <%=men2['nombre']%><br>
                              <%end%>
                           <%}%>
                    <%end%>
                  <%}%>

            </div>

          </td>
        </tr>
      </table>

        <div class="box-footer">
          <%= link_to 'Cancelar', usuarios_path, class: 'btn btn-danger' %>
          <%= f.submit 'Enviar', class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
<script>
   if ("<%= @usuario.tipo%>" == "GRP"){
     $('#grupo_select').show();
   }


   function verificar_principal(id,sel){  
     if (!sel){
       $('.sub'+id).prop("checked", false);
     }
   }
   function verificar_sub(id,sel){
     if (sel){
       $('#'+id).prop("checked", true);
     }
   }

function prueba(){
  arreglo_menu = [] ;
  $("input[name*='check_p']").each(function(){
    prin = this ;
    sub = [] ;
    $("input[name*='check_s" + prin.id.substring(1,2) +"']").each(function(){
      sub.push({ sub: this.id.substring(1,4), check: this.checked});
    });
    arreglo_menu.push({principal: prin.id.substring(1,2), check: prin.checked, subs: sub}) ;
  });
  return arreglo_menu;
}


</script>



<script>
$(document).ready(function() {
   $("form").submit(function(evento) {
     $(this).append('<input type="hidden" name="datos_menu" value=' + JSON.stringify(prueba()) +' /> ');
       return true;
     });
   });
</script>
